.App {
  text-align: center;
}



.terminal-body {
  background-color: #FCFCFC;
  width: 100%;
  
}

#iframe {
  /* Rectangle 22 */



height: 260px;
background: #FFFFFF;
border: 1px solid #EBEBEB;
box-sizing: border-box;
border-radius: 5px;
margin: 1%;

}

h1 {
  padding-top: 7%;
}

#table {
margin:0 1% 0 1%;
padding: 1%;
height: auto;

background: #FFFFFF;
border: 1px solid #EBEBEB;
box-sizing: border-box;
border-radius: 5px;


}

#subtable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#leftSide {
  display: flex;
  flex-direction: row;
  flex: 50%;
}


.leftside-1 p {
  font-weight: bold;
  text-align: left;
  line-height: 19px;
}

.leftside-2 {
  margin-left: 5rem;
}

.leftside-2 p {
  text-align: left;
  line-height: 19px;
}


#rightSide {
  display: flex;
  flex-direction: row;
  flex: 50%;
}

@media (max-width: 800px) {
  #leftSide, #rightSide {
    flex: 100%;
  }
}

.rightSide-1 p {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Source Sans Pro';
  text-align: left;
  line-height: 2.3rem;
}

.rightSide-2 {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  
}

input {
  margin-bottom: 20px;
}



